.other-content
  color greenColor
  .g-section-title
    margin-bottom 5px

.other-descr
  display block
  font-size 28px
  font-family mainFont
  text-align center


.other-item__wrap
  width 100%
  max-width 810px
  margin 0 auto
  display flex
  justify-content space-around
  flex-wrap nowrap


.other-item
  padding-top 180px
  text-align center
  margin-bottom 60px
  font-family titleFont
  width 30%
  font-size 24px
  line-height 1.2
  

