.secrets
	padding 70px
	background url(../img/general/secrets-bg.jpg) center 0 no-repeat
	background-size cover
	color: #fff

	&:before
		content ''
		absolute($left:0, $right:0, $top: -2px)
		display block
		size(100%, 21px)
		background url(../img/general/wave-top.png)

.secrets-content
	width 100%
	max-width 960px
	display flex
	flex-wrap: wrap
	justify-content space-between
	align-items center
	margin 0 auto
	
	.g-section-title.
		width 100%
		
	
.secrets-text
	max-width 450px

.form
	display flex
	align-items center
	max-width 360px
	color greenColor
	background-color #fff
	border-radius 15px
	padding 35px 25px 35px
	text-align center
	

.form__title
	font-size 28px
	line-height 1.3
	margin-bottom 35px

.form-group	
	position relative
	margin-bottom 25px
	
	&:last-child
		margin-bottom 40px
	
	&:before
		content ''
		absolute($top: 12px, $left: 10px)
		display block
		size(15px)
	
	&--phone
		&:before
			background url(../img/general/call-answer.svg) 0 0 no-repeat
			background-size 100%
    &--name
    	&:before
			background url(../img/general/man-user.svg) 0 0 no-repeat
			background-size 100%	
		
.g-input
	width 100%
	height 40px
	line-height 38px
	padding 0 10px 0 35px
	border 1px solid grayColor
	border-radius 5px
	
	
	
.secrets-text__title 
	display block
	font-size 24px
	margin-bottom 10px

.secrets__list
	
	li
		font-family boldFont
		font-size 24px
		line-height 1.2
		margin-bottom 20px
		
		&.last-child
			margin-bottom 0
			
