.secrets
	padding 70px
	background url(../img/general/secrets-bg.jpg) center 0 no-repeat
	background-size cover

	&:before
		content ''
		absolute($left:0, $right:0, $top: -2px)
		display block
		size(100%, 21px)
		background url(../img/general/wave-top.png)
	