footer
    .container
        .footer-nav
             .logo.footer-logo
                img(srс="static/img/general/logo.png" srcset="static/img/general/logo2x.png 2x" alt="Логотип")
        .header-about
            h1.header-company__name Группа компаний Emerald
            span.header-company__descr Организация свадебных торжеств