ul.header-nav__list
	li
		a(href="#about").scrollto.header-nav__link Главная
	li
		a(href="#services").scrollto.header-nav__link Услуги
	li
		a(href="#portfolio").scrollto.header-nav__link Портфолио
	li
		a(href="#price").scrollto.header-nav__link Стоимость
	li
		a(href="#team").scrollto.header-nav__link Наша команда
	li
		a(href="#partner").scrollto.header-nav__link Площадка-партнер
	li
		a(href="#reviews").scrollto.header-nav__link Отзывы
	li
		a(href="#other").scrollto.header-nav__link Не свадебные проекты
	li
		a(href="#footer").scrollto.header-nav__link Контакты