.popup.popup-form#feedback.mfp-hide
	.form.form--feedback
		form#form--feedback
			p.form__title Консультация свадебного специалиста с опытом организации  
				b более 200 свадеб!
			.form-group.form-group--name 
				input(type="text" name="name" placeholder="Ваше имя" required).g-input
			.form-group.form-group--phone
				input(type="text" name="phone" placeholder="Номер телефона" required).g-input
			.form-group-g.btn_submit
				input(type="submit" value="Получить консультацию" required).g-btn.g-btn--secrets
		.success-form#success-form
			span.success-text__bold Ваша заявка принята!
			span.success-text В ближайшее время мы с вами свяжемся.