section.other
	.container
		.other-content
			h2.g-section-title Наши не свадебные проекты
			span.other-descr Также, мы организуем такие мероприятия, как:
			.other-item-wrap
				.other-item.other-item--corporate
					span.other-item__title Корпоративы
				.other-item.other-item--birthay
					span.other-item__title Дни рождения,<br> юбилеи
				.other-item.other-item--childholiday
					span.other-item__title Выпускные вечера,<br> детские праздники


