section.partner
	.container
		.partner-content
			h2.g-section-title Наша площадка-партнер – </br> Кафе-шатры 
				| «Русская сказка»
			.partner-photo__wrap
				.partner-foto(style="background-image: " +
				"url('static/img/content/partner/horse.jpg')")
				.partner-foto.partner-foto--width(style="background-image: " +
				"url('static/img/content/partner/ploshydka_1.jpg')")
				.partner-foto(style="background-image: " +
				"url('static/img/content/partner/girl.jpg')")

			.partner-advantages__line
				.partner-advantages__item.partner-advantages__item--1
					span.partner-advantages__number 1
					p – Располагается в
					b Национальном конном парке «Русь»

				.partner-advantages__item.partner-advantages__item--2
					span.partner-advantages__number 2
					p – Есть возможность размещения на территории:<br>
						|  молодоженам в 
						b двухкомнатном люксе, 
						| а остальным гостям мы можем предложить на выбор: 
						b гостиничные номера,  либо коттеджи

				.partner-advantages__item.partner-advantages__item--3
					span.partner-advantages__number 3
					p – На территории комплекса
						|    размещены 
						b 3 белоснежных арочных шатра площадью 200кв. м

				.partner-advantages__item.partner-advantages__item--4
					span.partner-advantages__number 4
					p – Шатры имеют 
						b удобный заезд 
						| и 
						b собственную парковку
			.partner-more
				span Подробнее о площадке
				a(href="javascript:void(0);").g-btn.g-btn--pdf Презентация PDF
