section.portfolio
	.container
		h2.g-section-title Портфолио
		.portfolio-item-wrap
			.portfolio-item-line
				.portfolio-item.portfolio-item--width(style="background-image:" +
				"url('static/img/content/portfolio/port1/prev.jpg')")
					.portfolio-item-search
					.portfolio-item-descr
						span Свадьба Александра и Юлии
				.portfolio-item(style="background-image:" +
				"url('static/img/content/portfolio/port1/prev2.jpg')")
					.portfolio-item-search
					.portfolio-item-descr
						span Алексей и Татьяна
				.portfolio-item(style="background-image:" +
				"url('static/img/content/portfolio/port1/prev3.jpg')")
					.portfolio-item-search
					.portfolio-item-descr
						span Алексей и Татьяна


			.portfolio-item-center
				.portfolio-item(style="background-image:" +
				"url('static/img/content/portfolio/port1/prev4.jpg')")
					.portfolio-item-search
					.portfolio-item-descr
						span Артур и Кристина
				.portfolio-item.portfolio-item--width(style="background-image:" +
				"url('static/img/content/portfolio/port1/prev5.jpg')")
					.portfolio-item-search
					.portfolio-item-descr
						span Артур и Кристина
				.portfolio-item.portfolio-item--height(style="background-image:" +
				"url('static/img/content/portfolio/port1/prev6.jpg')")
					.portfolio-item-search
					.portfolio-item-descr
						span Александр и Юлия

				.portfolio-item.portfolio-item--width(style="background-image:" +
				"url('static/img/content/portfolio/port1/prev7.jpg')")
					.portfolio-item-search
					.portfolio-item-descr
						span Василий и Валерия
				.portfolio-item(style="background-image:" +
				"url('static/img/content/portfolio/port1/prev8.jpg')")
					.portfolio-item-search
					.portfolio-item-descr
						span Василий и Валерия


			.portfolio-item-line
				.portfolio-item.portfolio-item--width(style="background-image:" +
				"url('static/img/content/portfolio/port1/prev9.jpg')")
					.portfolio-item-search
					.portfolio-item-descr
						span Денис и Анна
				.portfolio-item(style="background-image:" +
				"url('static/img/content/portfolio/port1/prev10.jpg')")
					.portfolio-item-search
					.portfolio-item-descr
						span Анна
				.portfolio-item(style="background-image:" +
				"url('static/img/content/portfolio/port1/prev11.jpg')")
					.portfolio-item-search
					.portfolio-item-descr
						span Дочь Анны

			.portfolio-instagramm
				span Следите за нами в инстаграмме: 
				span.instagram-text.instagram-text--big my_world_my_emerald

