section.secrets
	.container
		.secrets-content
			h2.g-section-title.g-section-title--white  Секреты организации идеальной свадьбы
			.secrets-text
				span На консультации мы расскажем:
				ul.secrets__list
					li Как сэкономить до 15% свадебного бюджета.
					li Как выбрать и проверить ведущего, фотографа, оператора, декоратора.
					li Какие вопросы задавать на собеседовании.
					li Какую площадку выбрать и как обойти пробковый сбор.
					li Что лучше, выездная регистрация или ЗАГС.
					li Почему, стоит избегать агентства, которые работают за %?

			form.form.form-secrets
				p.form__title Консультация свадебного специалист с опытом организации  
					b более 200 свадеб!
