section.services#services
	.container 
		h2.g-section-title.g-section-title--white Услуги
		.sevice-item.service-item--organisation
			.sevice-item-title Организация
			p.service-item__text У нас не было, нет и никогда не будет готовых предложений с набором опций. 
				b Свадьба – это маленькая жизнь со своей историей и душой.
		
		.sevice-item.service-item--master
			.sevice-item-title Ведущий 
			p.service-item__text В нашей команде более 
				b 30 ведущих 
				| разделяющих наше видение на свадебное торжество.
		
		.sevice-item.service-item--photo.service-item--center
			.sevice-item-title Фотограф /Видеооператор
			p.service-item__text В нашей медиа-команде более 
				b 20 специалистов, 
				| проверенных нами. 
		
		.sevice-item.service-item--decor.service-item--center
			.sevice-item-title Декор
			p.service-item__text Команда декораторов нашей службы торжеств поможет Вам 	выбрать 
				b стиль и цветовое решение 
				| Вашей свадьбы.
		
		.sevice-item.service-item--banket.service-item--center
			.sevice-item-title Banket
			p.service-item__text Наша банкетная служба удовлетворит 
				b любые вкусовые предпочтения 
				| даже самого изысканного гурмана.
		
		.sevice-item.service-item--registration
			.sevice-item-title Выездная регистрация
			p.service-item__text Выслушав 
				b Ваши пожелания, предпочтения и мечту 
				|– как должна пройти эта красивая история, мы поможем ее осуществить.
		
		.sevice-item.service-item--artist
			.sevice-item-title Артисты
			p.service-item__text Разнообразить артистами зону велком, украсить банкетный вечер ярким выступлением, 
				b поставить «вишенку на торт» в завершении вечера.
    

