section.team#team
	.container
		.team-content
			h2.g-section-title Наша команда
			.team-founder
				.team-photo.team-photo--founder
				.team-founder__info
					span.team-founder__title Алиса Истомина
					span.team-founder__text__work Основатель Группы компаний Emerald.
					span.team-founder_text__work Генеральный директор <br> Организатор, Ведущая

					p.team-founder__text «Наша миссия - нести в массы культуру мероприятий.
						| Любое торжество - свадьба, корпоратив или день рождение - это не банкет с тамадой и набором артистов. 
						| Это гораздо глубже, больше. Это эмоции и ощущения, с которыми человек уходит домой,
						| поэтому у каждого нашего праздника есть личная история и душа».
			.team-small-photo__container
				.team-item.team-item--leader-organization
					.team-photo
					span.team-title Наталья Гудошникова
					span.team-text__work Исполнительный директор Группы <br>компаний Emerald
					span.team-text__work Руководитель отдела организации
					span.team-text__work Свадебный распорядитель

				.team-item.team-item--col.team-item--coordinator
					.team-photo
					span.team-title Оксана Абросимова
					span.team-text__work Организатор
					span.team-text__work Свадебный распорядитель
					span.team-text__work Координатор

				.team-item.team-item--banket
					.team-photo
					span.team-title Мария Ершова
					span.team-text__work Руководитель банкетной <br>службы

				.team-item.team-item--col.team-item--photograph
					.team-photo
					span.team-title Сергей Прудников
					span.team-text__work Руководитель направления <br> «Emerald media»
					span.team-text__work Фотограф

				.team-item.team-item--decorator
					.team-photo
					span.team-title Элона Губаз
					span.team-text__work Руководитель направления <br>«Декор от Emerald»
					span.team-text__work Декоратор-флорист

				.team-item.team-item--col.team-item--producer
					.team-photo
					span.team-title Артур Васильев
					span.team-text__work Режиссер-постановщик <br>мероприятий
					span.team-text__work Сценарист
					span.team-text__work Ведущий

				.team-item.team-item--leader-child
					.team-photo
					span.team-title Ольга Меньшикова
					span.team-text__work Руководитель направления <br>«Emerald детям»

				.team-item.team-item--col.team-item--corporate
					.team-photo
					span.team-title Руслан Чачанов
					span.team-text__work Руководитель направления по <br> разработке корпоративных <br> программ и тимбилдингов.





