// ЦВЕТА
greenColor = #007558
grLightColor = #419a85
grayColor = #898989

// РАЗМЕРЫ


// ШРИФТЫ
mainFont   = "pt_sansregular","Arial",sans-serif
boldFont   = "pt_sansbold",Arial,sans-serif
italicFont = "pt_sansitalic",Arial,sans-serif
titleFont  = "kuraleregular",Arial,sans-serif