footer
  background: #000
  color #fff

  .container
    display flex
    justify-content space-between
    flex-wrap wrap
    align-items center
    padding 20px 0

    a
      color #fff

.footer-phone
  width 200px

.footer-coryright
  width 100%
  text-align center
  color grayColor